@font-face {
	font-family: "Cd-Bold";
	src: local("ClashDisplay-Bold"), url("/fonts/ClashDisplay-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Cd-Regular";
	src: local("ClashDisplay-Regular"), url("/fonts/ClashDisplay-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Cd-Light";
	src: local("ClashDisplay-Light"), url("/fonts/ClashDisplay-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Cd-Medium";
	src: local("ClashDisplay-Medium"), url("/fonts/ClashDisplay-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Cd-SemiBold";
	src: local("ClashDisplay-Semibold"), url("/fonts/ClashDisplay-Semibold.ttf") format("truetype");
}

@font-face {
	font-family: "Cd-ExLight";
	src: local("ClashDisplay-Extralight"), url("/fonts/ClashDisplay-Extralight.ttf") format("truetype");
}

@font-face {
	font-family: "UnicaOne-Regular";
	src: local("UnicaOne-Regular"), url("/fonts/UnicaOne-Regular.ttf") format("truetype");
}

